@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
html {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-background text-text min-h-screen flex flex-col;
}
